{% extends "base.html" %}
{% block title %}Converter{% endblock %}
{% block content %}
<script src="../static/scripts/converter.js"></script>
<div class="wrapper">
      <div id="fl">
          <label for="file">Select video for conversion</label>
          <input type="file" accept="video/*" id="file" />
      </div>
      <select name="kek" id="ext">
        <option value="no_change" selected>Don't change</option>
        <option value=".mp4">.mp4</option>
        <option value=".mpeg">.mpeg</option>
      </select>
      <div class="w1">
        <div class="w2">
          <label for="upsc">Upscale</label>
          <input type="checkbox" id="upsc" />
        </div>
        <div class="w3">
          <label for="quality" id="qual_label" style="display: none"
            >Quality</label
          >
          <select id="quality" style="display: none">
            <option value="FullHD" selected>FullHD</option>
            <option value="2K">2K</option>
            <option value="4K">4K</option>
          </select>
        </div>
      </div>
      <div class="w1">
        <div class="w2">
          <label for="time">Trim video?</label>
          <input type="checkbox" id="time" />
        </div>
        <div class="w3">
          <div class="w1">
            <div class="w3">
              <label for="start_time" id="start_time_label" style="display: none">start time:</label>
              <input id="start_time" type="time" min="00:00:00" step="2" style="display: none">
            </div>
            <div class="w3">
              <label for="type" id="type_label" style="display: none">type of trim</label>
              <select id="type" style="height: 100%; display: none;" >
                <option value="end_time" selected>end time:</option>
                <option value="fragment_length">fragment length</option>
              </select>
            </div>
            <div class="w3">
              <input id="end_time" type="time" style="display: none" step="2" min="00:00:01">
              <input id="fragment_length" type="number" min="1" style="display: none">
            </div>
          </div>
        </div>
      </div>
      <input type="button" id="button" value="Submit" />
    </div>
{% endblock %}