<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <div class="login_div">
        <label for="username">Username:</label>
        <input type="text" id="username">
        <label for="pwd">Password:</label>
        <input type="password" id="pwd">
        <label for="pwd_rep">Repeat password:</label>
        <input type="password" id="pwd_rep">
        <input type="button" id="button" value="Submit">
    </div>
</body>
</html>
<script src="../static/scripts/register.js"></script>